[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
twitchio = "*"
click = "*"
python-decouple = "*"
orjson = "*"
pyexcel = "*"
pyexcel-xlsx = "*"
requests = "*"

[requires]
python_version = "3.7"
